[v-cloak] {
  display: none;
}

a:focus {
  @apply outline-none;
}

button {
  @apply border-0;
}

button:focus {
  @apply outline-none;
}

@tailwind utilities;

.rotate-180 {
    transform: rotate(-180deg);
}

.transition {
    transition: all .5s ease;
}
