[v-cloak] {
  display: none;
}

a:focus {
  @apply outline-none;
}

button {
  @apply border-0;
}

button:focus {
  @apply outline-none;
}

/*.swiper-container {
  @apply w-64;
}*/

/*.swiper-slide {
  @apply h-auto self-center;
}*/

.ss-single-selected, .ss-multi-selected {
  @apply border-0 !important;
}

.form-control.ss-main {
  @apply px-0;
}

.swal2-styled:focus {
  @apply shadow-none !important;
}

[data-ssid] {
  @apply absolute appearance-none border-0 shadow-none;
  width: calc(100% - 16px); /*¯\_(ツ)_/¯*/
  height: 44px !important;
  display: unset !important;
}

@tailwind utilities;

.rotate-180 {
  transform: rotate(-180deg);
}

.transition {
  transition: all .5s ease;
}
